@page
@model TiseShortUrl.Pages.UrlShortener.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h5 style="color: red; font-weight:bold">Attention, all actions in the system are recorded and moderated.</h5>
<h5 style="color: red; font-weight:bold">Any attempts to destabilize the service/server, posting illegal content, as well as damage to the user experience are punishable by blocking in the system!</h5>

<hr/>
<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShortUrl[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortUrl[0].OriginalUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortUrl[0].Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShortUrl) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a href="@Html.DisplayFor(modelItem => item.OriginalUrl)">@Html.DisplayFor(modelItem => item.OriginalUrl)</a>
            </td>
            <td>
                    @{
                        string localLink;

                        if (Request.IsHttps)
                            localLink = "https://";
                        else
                            localLink = "http://";

                        localLink += $"{Request.Host}/s/";
                    }
                    <a href="@localLink@Html.DisplayFor(modelItem => item.Url)">@localLink@Html.DisplayFor(modelItem => item.Url)</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                @*<a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-close">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

