@page "{id:int?}"
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShortUrl</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortUrl.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortUrl.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortUrl.OriginalUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortUrl.OriginalUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortUrl.ShortenedUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortUrl.ShortenedUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ShortUrl.Id" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
